h1 {
    /* Hexadecimal color system */
    color: #FF0000  
}
li {
    /* rgb color system */
    color: rgb(125, 0, 150)
}
h4 {
    /* rgba color system a is transparent */
    color: rgba(125, 0, 150, 0.295)
}