h1 {
<<<<<<< HEAD
    color: red;
}

li {
    color: green;
}

h4 {
    color: purple;
=======
    /* Hexadecimal color system */
    color: #FF0000;
    /* Border has 3 parts: width, color, style - all 3 must be used */
    /* border-color: purple;
    border-width: 5px;
    border-style: solid */ 

    /* Faster syntax: width, style, color */
    border: 5px double purple;
}
li {
    /* rgb color system */
    color: rgb(125, 0, 150)
}
h4 {
    /* rgba color system a is transparent */
    /* color: rgba(125, 0, 150, 0.295) */
    /* Background of element */
    background: rgb(255, 3, 4);
}
/* Changing color of body */
body {
    background: pink;

    /* background: url(https://static.web-backgrounds.net/uploads/2010/11/Preview-4.jpg);
    /* if background image is too small it will tile */
    /* use background-repeat to no repeat */
    /* background-repeat: no-repeat;
    /* stretch background to screen */
    /* background-size: cover; */
>>>>>>> b1bb43bc7feddcc6434b5f84b220c3d5c0e3ff01
}